#mainnav{
    background-color: gray;
    text-align: center;
    padding: 5px;
    margin: 5px;
}
#firstcol{
    background-color: rgb(228, 228, 228);    
    padding: 5px;
    margin-left: 5px;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
img{
    width: 10px;
}

#display{
    border-radius: 15px;
    margin-bottom: 5px;
    border: solid 1px black;
    margin-left: 0px;
    padding-right: 5px;
    
}
#dayforecast{
    padding-right: 5px;
    margin-left: 0px;
     
    border: solid 1px black;
}
.list-p{
    border: solid 1px black;
    margin: 0px;
    padding: 15px;
    border-radius: 3px;
}
p{
    
    margin-bottom: 0px;
    padding: 5px;
}

#todolist{
    margin-top: 5px;
     
}
div{
    margin-top: 3px;
    padding: 3px;
   
}
img{
    float: center;
    width: 50px;
}
h{
    font-size: 40px;
}

#row1{
    border-radius: 8px;
    margin-left: 0px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
     background-color: blue;
    color: white;
    border: solid 1px black;
}
#row2{
    border-radius: 8px;
    margin: 15px;
    margin-right: 25px;
    background-color: blue;
    color: white;
    border: solid 1px black;
}
#row3{
    border-radius: 8px;
    margin: 15px;
    margin-right: 25px;
    background-color: blue;
    color: white;
    border: solid 1px black;
}
#row4{
    border-radius: 8px;
    margin: 15px;
    margin-right: 25px;
    background-color: blue;
    color: white;
    border: solid 1px black;
}
#row5{
    border-radius: 8px;
    margin: 15px;
    background-color: blue;
    color: white;
    border: solid 1px black;
}