body{
    margin: 0px;
    padding: 0px;
   
     background-image: url("./weather.jpg");
 
    
}
 
#mainnav{
    background-color: #87d9eb;
    text-align: center;
    padding: 5px;
}
#firstcol{
    background-color: rgb(228, 228, 228);    
    padding: 5px;
    margin-left: 5px;
    box-shadow: 5px 10px 20px rgb(0, 129, 204);
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
img{
    width: 10px;
}

#display{
    border-radius: 15px;
     
    border: solid 1px black;
     
    padding-right: 5px;
    
}
#dayforecast{
    padding-right: 5px;
    margin-left: 0px;
     
    border: solid 1px black;
}
.list-p{
    border: solid 1px black;
    margin: 0px;
    padding: 15px;
    border-radius: 3px;
}
p{
    
    margin-bottom: 0px;
    padding: 5px;
}

#todolist{
    margin-top: 5px;
     
}
div{
    margin-top: 3px;
    padding: 3px;
   
}
img{
    float: center;
    width: 50px;
}
h{
    font-size: 40px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
 

#row1{
    border-radius: 8px; 
    margin-right: 25px; 
     background-color:rgb(121, 205, 253);
    color: white;
    border: solid 1px black;
    box-shadow: 5px 10px 20px rgb(0, 129, 204);
}
#row2{
    border-radius: 8px;
     
    margin-right: 25px;
    background-color:rgb(121, 205, 253);
    color: white;
    border: solid 1px black;
    box-shadow: 5px 10px 20px rgb(0, 129, 204);
}
#row3{
    border-radius: 8px;
     margin-right: 25px;
    background-color: rgb(121, 205, 253);
    color: white;
    border: solid 1px black;
    box-shadow: 5px 10px 20px rgb(0, 129, 204);
}
#row4{
    border-radius: 8px;
     margin-right: 25px;
    background-color: rgb(121, 205, 253);
    color: white;
    border: solid 1px black;
    box-shadow: 5px 10px 20px rgb(0, 129, 204);
}
#row5{
    border-radius: 8px;
    margin-right: 25px; 
     background-color: rgb(121, 205, 253);
    color: white;
    border: solid 1px black;
    box-shadow: 5px 10px 20px rgb(0, 129, 204);
}

@media only screen and (max-width: 600px) {
    .row.col-lg-9.col-sm-12.col-md-12{
        margin: 10px 10px;
        }
  }